{% extends 'account/authenBase.html' %}
{% block title %}OTP - EfashionBazaar{% endblock title %}
{% block mainCont %}
<!-- Login Form Begins  -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 mx-auto">
            <div class="card cardSignin">
                <div class="card-body">
                    <div class="card-title text-center">
                        OTP
                    </div>
                    <form class="form-signin">
                        <div class="mb-3 form-label-group">
                            <label class="mb-0  labelForInput" for="inputOTP">Paste the OTP</label>
                            <input type="email" id="inputOTP" class="form-control inputFormLogin"
                                placeholder="Place the OTP" required>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase submitBtnLogin"
                            type="submit">Confirm</button>
                        <div class="mt-2 mb-1 justify-content-center text-center">
                            <p class="otpnotrecieve"> Didn't recieve the OTP?
                                <br>
                                <a href="#" class="resendOtp">Resend OTP</a>
                            </p>
                        </div>
                        <hr class="hr-text" data-content="Already have an account">

                        <a class="btn btn-lg btn-primary btn-block text-uppercase submitBtnLogin"
                            href="login.html">Login</a>
                        <!--   <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Form Ends  -->
{% endblock mainCont %}