{% extends 'account/authenBase.html' %}
{% block title %}Password Reset - EfashionBazaar{% endblock title %}
{% block mainCont %}
{% load crispy_forms_tags %}
<!-- Login Form Begins  -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 mx-auto">
            <div class="card cardSignin">
                <div class="card-body">
                    <div class="card-title text-center">
                        Password Reset
                    </div>
                    <form class="form-signin" method="POST" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-lg btn-primary btn-block text-uppercase submitBtnLogin"
                            type="submit">Reset My Password</button>
                        <hr class="hr-text" data-content="Don't have an account">

                        <a class="btn btn-lg btn-primary btn-block text-uppercase submitBtnLogin"
                            href="{% url 'account_signup' %}">Create Your Account</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Form Ends  -->
{% endblock mainCont %}