{% extends "account/authenBase.html" %}
{% block title %}Password Reset - EfashionBazaar{% endblock title %}
{% load account %}
{% block mainCont %}
{% load static %}
<section class="accountsec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img src="{% static 'image/mobile_inbox.svg' %}" class="illustrator"
                    alt="Undraw illustrations EfashionBazaar">
            </div>
            <div class="col-lg-6 col-12">
                <h1 class="illustratorTitle">Password Reset</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="illustratorPara">
                    We have sent you an e-mail. Please check your email or contact us if you do not receive it within a
                    few minutes..
                </p>
                <a href="{% url 'landing' %}" class="btn loginBtnIllus">Go to Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock mainCont %}