{% extends 'account/authenBase.html' %}
{% block title %}Password Changed - EfashionBazaar{% endblock title %}
{% block mainCont %}
{% load static %}
<section class="accountsec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img src="{% static 'image/mobile_login.svg' %}" class="illustrator"
                    alt="Undraw illustrations EfashionBazaar">
            </div>
            <div class="col-lg-6 col-12">
                <h1 class="illustratorTitle">Hooray!!</h1>
                <p class="illustratorPara">
                    Your password is now changed.
                </p>
                <a href="{% url 'account_login' %}" class="btn loginBtnIllus">Login Again</a>
            </div>
        </div>
    </div>
</section>
{% endblock mainCont %}